/* #chatContainer {
  border: 1px solid black;
  width: 40vw;
  padding: auto;
  height: 25vh;
} */

#type-here {
  margin-top: auto;
}

#chat-area {
  border: 1px solid black;
  width: 40vw;
  padding: auto;
  height: 25vh;
  overflow: auto;
  display: flex;
  flex-direction: column
}
